body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}
  
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
header li {
    margin-right: 20px;
}
  
main {
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
  
section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-column: span 2;
}
  
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color: #337ab7;
}
  
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    color: #337ab7;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li {
    margin-bottom: 10px;
}
  
a {
    text-decoration: none;
    color: #337ab7;
}
  
a:hover {
    color: #23527c;
}
  
  /* Add some color to the website */
  .achievements {
    background-color: #ffe6cc;
  }
  
  .projects {
    background-color: #c9f7f5;
  }
  
  .technical-skills {
    background-color: #f7cac9;
  }
  
  .interests-and-hobbies {
    background-color: #c5cae9;
  }